html,
body,
.page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
	-webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
	-moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
	-o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
	color: gray !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

* {
	font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page {
	position: absolute;
}

#p1 {
	left: 0;
}

#p2,
#p3,
#p4,
#p5 {
	left: 200%;
}

#p1 {
	background: #f9fafb !important;
}

#p2 {
	background: #f9fafb !important;
}

#p3 {
	background: white;
}

#p4 {
	background: white;
}

#p5 {
	background: white;
}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
	transform: translateX(-190%);
	-webkit-transform: translateX(-190%);
	-moz-transform: translateX(-190%);
	-o-transform: translateX(-190%);
	transition-delay: .4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1 {
	background: whi;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
	-webkit-filter: blur(3px);
}

.icon {
	color: black;
	font-size: 32px;
	display: block;
}

ul .icon:hover {
	opacity: 0.5;
}

.page .icon .title {
	line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon {
	transform: scale(.6);
	-webkit-transform: scale(.6);
	-moz-transform: scale(.6);
	-o-transform: scale(.6);
	transition-delay: .25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
	transform: scale(1.2) !important;
	-webkit-transform: scale(1.2) !important;
	-moz-transform: scale(1.2) !important;
	-o-transform: scale(1.2) !important;
}

ul {}

#menu {
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 280px;
	width: 10%;
	padding: 0;
	text-align: center;
}

#menu .icon {
	margin: 30px 0;
	transition: all .5s ease-out !important;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
}

a {
	text-decoration: none;
}

p {
	color: black;
	text-align: left;
	/* font-family: 'PT Sans', sans-serif; */
	font-family: 'Dosis', sans-serif !important;
	padding-left: 5px;

}

.title,
.hint {
	display: block;
}

.title {
	font-size: 38px;
}

.hint {
	font-size: 13px;
}

#p4 .hint {
	display: inherit !important;
}

.hint a {
	color: yellow;
	transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	-moz-transition: all 250ms ease-out;
	-o-transition: all 250ms ease-out;
}

.hint a:hover {
	color: #FFF;
}

.line-trough {
	text-decoration: line-through;
}

.page .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 0;
	width: 270px;
	height: 170px;
	margin: auto;
	text-align: center;
	font-size: 80px;
	line-height: 1.3;
	transform: translateX(360%);
	-webkit-transform: translateX(360%);
	-moz-transform: translateX(360%);
	-o-transform: translateX(360%);
	transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
	height: 220px;
}

.page#p1 .icon {
	transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
	transform: translateX(0) !important;
	-webkit-transform: translateX(0) !important;
	-moz-transform: translateX(0) !important;
	-o-transform: translateX(0) !important;
	transition-delay: 1s;
}

.fa {
	color: palevioletred
}

body {
	background: #f9fafb;
	text-align: center;
}

.card-custom {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 100px;
	/* margin: 2rem !important; */
	position: absolute !important;
	width: 300px;
	/* top: 75px !important; */
}

.col {
	padding-left: 45px !important;
}

.card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.admin-icons-1 {
	font-size: 40px;
	padding-left: 8px;
	color: limegreen;
}

.admin-icons-2 {
	font-size: 40px;
	padding-left: 8px;
	color: mediumpurple;
}


.admin-icons-3 {
	font-size: 40px;
	padding-left: 8px;
	color: royalblue;
}

.fa-chart-bar {
	color: darkred !important;
}

.fa-keyboard {
	color: darkred !important;
}

.fa-rocket {
	color: darkgreen !important;
}

.fa-plus-circle {
	color: teal !important;
}

span.step {

	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 5px;
	text-align: center;
	width: 1.6em;
}

#stat-number {
	float: right;
	padding-top: 10px !important;
}

.color-1 {
	background: lightgreen;
}

.color-2 {
	background: lightcoral;
}

.color-3 {
	background: lightseagreen;
}

.horizontal-scroll-admin {

	overflow-x: scroll !important;
	overflow-y: hidden !important;
	white-space: nowrap !important;
	width: 80% !important;
	height: 80% !important;
	align-self: center !important;
	/* float: initial; */
	/* padding-top: 120px; */
	/* padding-left: 160px; */
	top: 150px;
	left: 150px !important;
	position: absolute !important;
}

span {
	color: black;
}

.admin-heading {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.52rem 0 0.912rem 0;
	text-align: center;
}

#myChart {
	width: 100% !important;
	height: 90% !important;
	float: center !important;
}

.chart-view {
	top: 550px;
	left: 150px !important;
	position: relative !important;
	width: 80%;
	height: 80%;
}


.category-heading-chart {
	top: 900px !important;

}

.card-chart {
	width: 100%;
}

.form-card-custom {
	width: 80% !important;
	height: 800px !important;
	position: absolute !important;
	/* padding-left: 200px !important; */
}



/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); */
/* @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); */
/* *, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* html, body {
  height: 100vh;
} */

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font: 14px/1.5 'Open Sans',sans-serif;
  color: #345;
  background: #f0f2f4;
} */

p:not(:last-child) {
	margin: 0 0 20px;
}

main {
	max-width: 100%;
	padding: 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	/* padding-left: -220px !important; */
}

#content1 {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #abc;
}

#content2 {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #abc;
}

#tab1, #tab2 {
	display: none;
}

label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #abc;
	border: 1px solid transparent;
}

label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}

label[for*='1']:before {
	content: '\f1cb';
}

label[for*='2']:before {
	content: '\f17d';
}

label[for*='3']:before {
	content: '\f16c';
}

label[for*='4']:before {
	content: '\f171';
}

label:hover {
	color: #789;
	cursor: pointer;
}

input:checked+label {
	color: #0af;
	border: 1px solid #abc;
	border-top: 2px solid #0af;
	border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
	display: block;
}


@media screen and (max-width: 800px) {
	label {
		font-size: 0;
	}

	label:before {
		margin: 0;
		font-size: 18px;
	}
}

@media screen and (max-width: 500px) {
	label {
		padding: 15px;
	}
}

.box {
	display: block;
	width: 200px;
	height: 300px;
	margin: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	overflow: hidden;
}

.upload-options {
	position: relative;
	height: 75px;
	background-color: cadetblue;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	transition: background-color ease-in-out 150ms;
}

.upload-options:hover {
	background-color: #7fb1b3;
}

.upload-options input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-options label {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	overflow: hidden;
}

.upload-options label::after {
	content: 'add';
	font-family: 'Material Icons';
	position: absolute;
	font-size: 2.5rem;
	color: rgba(230, 230, 230, 1);
	top: calc(50% - 2.5rem);
	left: calc(50% - 1.25rem);
	z-index: 0;
}

.upload-options label span {
	display: inline-block;
	width: 50%;
	height: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
}

.upload-options label span:hover i.material-icons {
	color: lightgray;
}

.js--image-preview {
	height: 225px;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-image: url('');
	background-color: white;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.js--image-preview::after {
	content: "photo_size_select_actual";
	font-family: 'Material Icons';
	position: relative;
	font-size: 4.5em;
	color: rgba(230, 230, 230, 1);
	top: calc(50% - 3rem);
	left: calc(50% - 2.25rem);
	z-index: 0;
}

.js--image-preview.js--no-default::after {
	display: none;
}

.js--image-preview:nth-child(2) {
	background-image: url('http://bastianandre.at/giphy.gif');
}

i.material-icons {
	transition: color 100ms ease-in-out;
	font-size: 2.25em;
	line-height: 55px;
	color: white;
	display: block;
}

.drop {
	display: block;
	position: absolute;
	background: rgba(95, 158, 160, 0.2);
	border-radius: 100%;
	transform: scale(0);
}

.animate {
	animation: ripple 0.4s linear;
}

@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

.custom_form{
	width: 100% !important;
}

textarea{
	height: 100px !important;
	width: 100% !important;
}

/* .select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #26a69a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #26a69a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

input[type=text].valid + label::after, input[type=password].valid + label::after, input[type=email].valid + label::after, input[type=url].valid + label::after, input[type=time].valid + label::after, input[type=date].valid + label::after, input[type=datetime-local].valid + label::after, input[type=tel].valid + label::after, input[type=number].valid + label::after, input[type=search].valid + label::after, textarea.materialize-textarea.valid + label::after, input[type=text].invalid + label::after, input[type=password].invalid + label::after, input[type=email].invalid + label::after, input[type=url].invalid + label::after, input[type=time].invalid + label::after, input[type=date].invalid + label::after, input[type=datetime-local].invalid + label::after, input[type=tel].invalid + label::after, input[type=number].invalid + label::after, input[type=search].invalid + label::after, textarea.materialize-textarea.invalid + label::after, input[type=text]:focus.valid + label::after, input[type=password]:focus.valid + label::after, input[type=email]:focus.valid + label::after, input[type=url]:focus.valid + label::after, input[type=time]:focus.valid + label::after, input[type=date]:focus.valid + label::after, input[type=datetime-local]:focus.valid + label::after, input[type=tel]:focus.valid + label::after, input[type=number]:focus.valid + label::after, input[type=search]:focus.valid + label::after, textarea.materialize-textarea:focus.valid + label::after, input[type=text]:focus.invalid + label::after, input[type=password]:focus.invalid + label::after, input[type=email]:focus.invalid + label::after, input[type=url]:focus.invalid + label::after, input[type=time]:focus.invalid + label::after, input[type=date]:focus.invalid + label::after, input[type=datetime-local]:focus.invalid + label::after, input[type=tel]:focus.invalid + label::after, input[type=number]:focus.invalid + label::after, input[type=search]:focus.invalid + label::after, textarea.materialize-textarea:focus.invalid + label::after {
	white-space: pre;
  }
  input[type=text].empty:not(:focus).valid + label::after, input[type=password].empty:not(:focus).valid + label::after, input[type=email].empty:not(:focus).valid + label::after, input[type=url].empty:not(:focus).valid + label::after, input[type=time].empty:not(:focus).valid + label::after, input[type=date].empty:not(:focus).valid + label::after, input[type=datetime-local].empty:not(:focus).valid + label::after, input[type=tel].empty:not(:focus).valid + label::after, input[type=number].empty:not(:focus).valid + label::after, input[type=search].empty:not(:focus).valid + label::after, textarea.materialize-textarea.empty:not(:focus).valid + label::after, input[type=text].empty:not(:focus).invalid + label::after, input[type=password].empty:not(:focus).invalid + label::after, input[type=email].empty:not(:focus).invalid + label::after, input[type=url].empty:not(:focus).invalid + label::after, input[type=time].empty:not(:focus).invalid + label::after, input[type=date].empty:not(:focus).invalid + label::after, input[type=datetime-local].empty:not(:focus).invalid + label::after, input[type=tel].empty:not(:focus).invalid + label::after, input[type=number].empty:not(:focus).invalid + label::after, input[type=search].empty:not(:focus).invalid + label::after, textarea.materialize-textarea.empty:not(:focus).invalid + label::after {
	top: 2.8rem;
  }
   */

