Custom Stylesheet
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: black;
}

.brand-logo {
  color: #000 !important; 
  font-family: 'Rouge Script', cursive !important; 
  font-size: 50px !important; 
  font-weight: normal !important; 
  line-height: 48px !important; 
  margin: 0 0 50px !important; 
  text-align: center !important; 
  text-shadow: 1px 1px 2px #082b34 !important; 
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

span {

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    /* white-space: initial; */
    color: #000 !important;
}

.bname{
  font-size: 16px !important; 
}

.category-name{
  width: 220px;
  font-size: 18px !important;
  word-wrap: break-word !important;
}

.custom-height{
  height: 400px !important;
  width: 250px !important;
  display: inline-block !important;
  margin-right: 15px;
  margin-bottom: 10px;
 
}

.card-image {
  height: 250px !important;
}

.resize {
  width: 150px !important; /* you can use % */
  height: 230px !important;
  align-content: center  !important;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-scroll{
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  white-space: nowrap !important;
  width: inherit !important;
  height: auto !important;
  align-self: left !important;
}

::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
    ;
}
div.foo{
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
  top: -15px;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 4em;
  margin: 0.2em;
  position: relative;
  color: navy;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: deeppink;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: deeppink;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

.category-heading{
  color: #F90B6D; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px;
  text-align: center;
}

.category-description{
  color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; 
  text-align: center;
}

.category-card{
  width: 170px;
  height: 10px;
}

.section{
  width: 100% !important;
}

.container{
  width: 90% !important;
}

.book-card{
  width: 300px;
  height: 400px !important;
}

.book-image{
  width: 300px !important;
  height: 300px !important;
}

.book-description{
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word !important;
}

.price-card{
  /* width: 200px; */
  display: flex;
  /* position: inherit !important; */
  top: 10 !important;
  left: 0;
  height: 100%;
  width: 90%;
}

.hr_line { 
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
